<h1>Woof-up Messages</h1>

<div class="divflex">
<div class="imgoverlay"><%if @dogimage.present? %><%= image_tag @dogimage, :class => 'thumb' %><% end %><div class="bottom-right">&hearts;<%= @name %>&hearts;</div></div>
<div class="imgoverlay"><%if @partnerDogimage.present? %><%= image_tag @partnerDogimage, :class => 'thumb' %><% end %><div class="bottom-left">&hearts;<%= @partnerDogname%>&hearts;</div></div>
</div>

<input type="hidden" name="firstDisplay" id="firstDisplay" value="<%= @firstDisplay %>">

<table class="messagetable">
<% i = 0 %>
<h2>Recent Message Exchanges</h2>
<tr class="messagetr">
<th class="messageth" width="15%"><b>FROM</b></th>
<th class="messageth" width="85%"><i>MESSAGE</i></t>
</tr>
<% until i == @msgArray.length %>
<tr class="messagetr">
<td class="messagetd"><b><%= @msgArray[i][:sender_name] %></b></td>
<td class="messagetd"><i><%= @msgArray[i][:message_text] %></i></td>
</tr>
<% i += 1 %>
<% end %>

<!-- form goes here -->
<tr class="messagetr">
<td class="messagetd"><b><%= @name %></b></td>
<td class="messagetd">

<!-- form -->
<form action="/messages/woofmessagesend">
<input type="hidden" name="currentdogid" id="currentdogid" value="<%=@currDogId%>">
<input type="hidden" name="woofid" id="woofid" value="<%=@woofid%>">
<input type="hidden" name="sender" id="sender" value="<%=@name%>">
<textarea rows = "5" cols = "78" name="message_text" id="message_text"></textarea>
<br><br>
<button>Send</button>
</form> 

<!-- form -->
</td>
</tr>
</table>

<!-- hidden: <> has to reply back  -->


<br><br>
<%= link_to 'Back to My Dogs', dogs_path %>



<script>

/* scroll to message box if this is not the first display,
meaning sender has been sending messages already
and would be annoyed scrolling to the bottom of the page everytime*/
function gotoBottom(id){
   const firstDisplay = document.getElementById("firstDisplay");

   if (firstDisplay==='no') {
      const element = document.getElementById(id);
      element.scrollTop = element.scrollHeight - element.clientHeight;
      document.getElementById(id).innerHTML = "Hello";
      window.scrollTo(0, document.body.scrollHeight || document.documentElement.scrollHeight);
   }
}

gotoBottom("message_text");

</script>