<h1>Setup the First Woof-up Date</h1>

<%if @partnerDog_img.present? %><%= image_tag @partnerDog_img, :class => 'feature' %><% end %>

<form action="/woofupdates/<%= @currentDog_id %>/setupwoofup/<%= @woof_id %>">
  When?<br>
  <input type="date" name="woofupdate[woofdate]" id="woofupdate[woofdate]">
  <br>
  Where?<br>
  <input type="text" name="woofupdate[place]" id="woofupdate[place]">
  <br>
  Add Notes: (will be saved in the Messages)<br>
  <textarea rows = "5" cols = "78" name="message_text" id="message_text"></textarea>
  <br><br>
  <button>Set it up!</button>
</form> 

<br><br>
<%= link_to 'Back', :back %>
<%= link_to 'Back to My Dogs', dogs_path %>