<h1><%= @heading %></h1>

<!--
<%if @partnerDog_img.present? %><%= image_tag @partnerDog_img, :class => 'feature' %><% end %>
-->

<div class="imgoverlay"><%if @partnerDog_img.present? %><%= image_tag @partnerDog_img, :class => 'feature' %><% end %><div class="bottom-left">&hearts;<%= @dog.name%>&hearts;</div></div>


<br>

<h2><%= @subheading %></h2>


<% if @currentStatus.include? "Pending" %><%= link_to "Approve?", "/woofupdates/#{@currentDog_id}/woof/#{@woof_id}" %><% end %>

<br>


<%= link_to "Withdraw Woof-up?", "/woofupdates/withdraw/#{@woof_id}" %>

<br><br>





<table class="messagetable">
<% i = 0 %>
<h2>Recent Message Exchanges</h2>
<tr class="messagetr">
<th class="messageth" width="15%"><b>From</b></th>
<th class="messageth" width="85%"><i>Message</i></t>
</tr>
<% until i == @msgArray.length %>
<tr class="messagetr">
<td class="messagetd"><b><%= @msgArray[i][:sender_name] %></b></td>
<td class="messagetd"><i><%= @msgArray[i][:message_text] %></i></td>
</tr>
<% i += 1 %>
<% end %>
</table>

<%= link_to 'View or Send Messages', "/messages/#{@woof_id}/#{@currentDog_id}/message" %> 
<br>

<br><br>
<%= link_to 'Back', :back %>
<%= link_to 'Back to My Dogs', dogs_path %>