<h1>Set up Breeding Appointment</h2>

<div class="divflex">
<div class="imgoverlay"><%if @currentDog.image.present? %><%= image_tag @currentDog.image, :class => 'currstatus' %><% end %><div class="bottom-right">&hearts;<%= @currentDog.name %>&hearts;</div></div>
<div class="imgoverlay"><%if @partnerDog.image.present? %><%= image_tag @partnerDog.image, :class => 'currstatus' %><% end %><div class="bottom-left">&hearts;<%= @partnerDog.name%>&hearts;</div></div>
</div>

<br>&nbsp;
<form action="/breedappts/<%= @currentDog.id %>/setupbreedappt/<%= @woof_id %>" class="pLabel">
  <br>When?<br>
  <input type="date" name="breedappt[bdate]" id="breedappt[bdate]" required>
  <br><br>
  Where?<br>
  <input type="text" name="breedappt[place]" id="breedappt[place]" required size="100">
  <br><br>
  Add Notes: (will be saved in the Messages)<br>
  <textarea rows = "5" cols = "78" name="message_text" id="message_text">Hi, Please call me at this number if you wish:</textarea>
  <br><br>
  <button>Set it up!</button>
  <br>&nbsp;
</form> 

<br><br>

<%= link_to 'Back to My Dogs', dogs_path %>


