<% if @current_user.dogs.present? && @mydogs.size > 0 %>
<h1>All My Dogs</h1>
<table>
    <% @mydogs.each do |d| %>
    <tr>
    <td><%= link_to d.name, dog_path(d.id) %></td>
    <td><%if d.image.present? %><%= link_to image_tag(d.image, :class => 'thumb'), dog_path(d.id) %><% end %></td>
    <td><span class="ptext">Status:</span><br><%= link_to d.status, dog_path(d.id) %></td>
    </tr>
    <% end %>
</table>
<% end %>
<% if @current_user.admin? && @alldogs.size > 0 %>
<h1>All Dogs</h1>
<table>
    <% @alldogs.each do |d| %>
    <tr>
    <td><%= link_to d.name, dog_path(d.id) %></td>
    <td><%if d.image.present? %><%= link_to image_tag(d.image, :class => 'thumb'), dog_path(d.id) %><% end %></td>
    <td><span class="ptext">Status:</span><br><%= link_to d.status, dog_path(d.id) %></td>
    </tr>
    <% end %>
</table>
<% end %>
<br><%= link_to 'Register New Dog', new_dog_path %>