<h1><%= @dog.name %> : <i><%= @dog.status %> </i></h1>

<% if @dog.status == "Available" %>
<div class="divflex">
<div class="imgoverlay"><%if @dog.image.present? %><%= image_tag @dog.image, :class => 'currstatus' %><% end %><div class="bottom-right">&hearts;<%= @dog.name %>&hearts;</div></div>
</div>

<% else %>
<!--
<%if @dog.image.present? %><%= image_tag @dog.image, :class => 'currstatus' %><% end %>
<%if @partnerDog.image.present? %><%= image_tag @partnerDog.image, :class => 'currstatus' %><% end %>
-->
<div class="divflex">
<div class="imgoverlay"><%if @dog.image.present? %><%= image_tag @dog.image, :class => 'currstatus' %><% end %><div class="bottom-right">&hearts;<%= @dog.name %>&hearts;</div></div>
<div class="imgoverlay"><%if @partnerDog.image.present? %><%= image_tag @partnerDog.image, :class => 'currstatus' %><% end %><div class="bottom-left">&hearts;<%= @partnerDog.name%>&hearts;</div></div>
</div>

<% end %>

<br><br>
<% if @showmatches %>
<%= link_to 'View Matches', "/woofs/#{params[:id]}" %>
<% else %>
<%= link_to "#{@dog.name} & #{@partnerDog.name} | View Status Details", "/woofs/#{params[:id]}/status" %>
<% end %>

<br><br>
<div class="controls">
    <%= link_to "Edit #{@dog.name}'s Settings", edit_dog_path(@dog.id) %>
    <% if @showmatches %><%= link_to 'Delete Dog', "/dogs/#{params[:id]}/delete" %><% end %>
</div>

<br><br>

<%= link_to 'Back to My Dogs', dogs_path %>