<h1>Sign In</h1>

<%= flash[:error] %>

<%= form_tag login_path do %>
 <%= label_tag :email%><br>
 <%= email_field_tag :email %><br>
 <%= label_tag :password %><br>
 <%= password_field_tag :password %><br><br>
 <%= submit_tag "Sign in" %><br>
<% end  %>
