
<h1>Sign In</h1>

<%= flash[:error] %>

<%= form_tag login_path do %>
 <%= label_tag :email%><br>
 <%= email_field_tag :email, nil, :size => '50' %><br>
 <%= label_tag :password %><br>
 <%= password_field_tag :password, nil, :size => '50' %><br><br>
 <%= submit_tag "Sign in", :class => 'button' %><br>
<% end  %>


