<h1>Update Dogwalk Date</h1>

<div class="divflex">
<div class="imgoverlay"><%if @currentDog.image.present? %><%= image_tag @currentDog.image, :class => 'currstatus' %><% end %><div class="bottom-right">&hearts;<%= @currentDog.name %>&hearts;</div></div>
<div class="imgoverlay"><%if @partnerDog.image.present? %><%= image_tag @partnerDog.image, :class => 'currstatus' %><% end %><div class="bottom-left">&hearts;<%= @partnerDog.name%>&hearts;</div></div>
</div>

<br>&nbsp;
<form action="/dogwalkdates/<%= @currentDog.id %>/update/<%= @woof_id %>" class="pLabel">
  <br>When?<br>
  <input type="date" name="dogwalkdate[bdate]" id="dogwalkdate[bdate]" value="<%if @dogwalkdate.walkdate.present? %><%=@dogwalkdate.walkdate%><% end %>" required>
  <br><br>
  Where?<br>
  <input type="text" name="dogwalkdate[place]" id="dogwalkdate[place]" value="<%if @dogwalkdate.place.present? %><%=@dogwalkdate.place%><% end %>" size="100" required>
  <br><br>
  Add Notes: (will be saved in the Messages)<br>
  <textarea rows = "5" cols = "78" name="message_text" id="message_text">Hi, please see changes to the schedule. </textarea>
  <br><br>
  <button>Update Dogwalk Date</button>
  <br>&nbsp;
</form> 

<br><br>

<%= link_to 'Back to My Dogs', dogs_path %>