<%if @breedapptconfirmed %>
<h1><%= @heading %></h1>

<div class="divflex">
<div class="imgoverlay"><%if @currentDog_img.present? %><%= image_tag @currentDog_img, :class => 'currstatus' %><% end %><div class="bottom-right">&hearts;<%= @currentDog_name %>&hearts;</div></div>
<div class="imgoverlay"><%if @partnerDog_img.present? %><%= image_tag @partnerDog_img, :class => 'currstatus' %><% end %><div class="bottom-left">&hearts;<%= @partnerDog_name%>&hearts;</div></div>
</div>

<h2><%= @subheading %></h2>
<ul style="display:table; margin:0 auto; text-align: left;">
<% if @checkEligibleBreedingAppt %><li style="color: #c7cc95;"><%= link_to 'Set up Breeding Appointment (once a year only)', "/breedappts/#{@currentDog_id}/breedappt/#{@woof_id}" %></li><% end %>
<li style="color: #c7cc95;"><%= link_to 'Set up Dogwalk Date', "/dogwalkdates/#{@currentDog_id}/dogwalkdate/#{@woof_id}" %></li>
<li style="color: #c7cc95;"><%= link_to 'Break up', "/dogwalkdates/#{@woof_id}/#{@currentDog_id}/breakup" %></li>
</ul>
<% else %>
<h1>Please confirm Breeding Appointment</h1>
<div class="divflex">
<div class="imgoverlay"><%if @currentDog_img.present? %><%= image_tag @currentDog_img, :class => 'currstatus' %><% end %><div class="bottom-right">&hearts;<%= @currentDog_name %>&hearts;</div></div>
<div class="imgoverlay"><%if @partnerDog_img.present? %><%= image_tag @partnerDog_img, :class => 'currstatus' %><% end %><div class="bottom-left">&hearts;<%= @partnerDog_name%>&hearts;</div></div>
</div>
<p class="pLabel">
<br>
<b>BREEDING APPOINTMENT DETAILS</b>
<br>
When: <%= @breedappt_when.strftime("%B %d, %Y")  %>
<br>
Where: <%= @breedappt_where %>
<br>&nbsp;
</p>

<form action="/breedappts/confirm/<%=@woof_id%>">
    <button>Confirm Breeding Appointment</button>
</form>

<% end %>

<br><br>
<%= link_to 'Back to My Dogs', dogs_path %>