<h1>Edit Dog Owner Profile</h1>

<%= form_for @user do |f| %>
    <br><%= f.label :name %>
    <br><%= f.text_field :name, :autofocus => true, :required => true, :maxlength => '50' %>

    <br><br><%= f.label :image %>
    <br><%= f.url_field :image %>

    <br><br>
    <%= f.submit "Update Profile", :class => 'button' %>
<% end %>
<br><br>
