<%= form_for @dog, :url => {:action => "updatepref", :id => @dog.id} do |f| %>

<% if display %>
    <br>
    <h2>Search Among Registered '<i>Available</i>' Dogs: </h2>

    <%= f.label :pref_sex, "Preferred Sex" %><br>
    
    <%= radio_button_tag 'dog[pref_sex]', 'Male', checked = @booleanMalepref_sex %>
    <%= label_tag('dog[pref_sex]', 'Male' ) %>
    <%= radio_button_tag 'dog[pref_sex]', 'Female', checked = @booleanFemalepref_sex %>
    <%= label_tag('dog[pref_sex]', 'Female' ) %>

    <br><br><%= f.label :pref_breed, "Preferred Breed" %>
    <br> 
    <%= select_tag "dog[pref_breed]", options_for_select(@breeds, @dog.pref_breed.capitalize), include_blank: "Any" %>

    <br><br><%= f.label :pref_color, "Preferred Color" %>
    <br> 
    <%= select_tag "dog[pref_color]", options_for_select(@colors, @dog.pref_color.capitalize), include_blank: "Any" %>

    <br><br><%= f.label :pref_location, "Preferred Location" %> (in Australia only)
    <br> 
    <%= select_tag "dog[pref_location]", options_for_select(@locations, @dog.pref_location.capitalize), include_blank: "Any" %>


<% end %>

    <br><br>
    <%= f.submit buttonCustom, :class => 'button' %>

<% end %>

