<h1>Woof-up with <%= @dog.name %></h1>

<!--
<%if @mydog.image.present? %><%= image_tag @mydog.image, :class => 'currstatus' %><% end %>
<%if @dog.image.present? %><%= image_tag @dog.image, :class => 'currstatus' %><% end %>
--->

<div class="divflex">
<div class="imgoverlay"><%if @mydog.image.present? %><%= image_tag @mydog.image, :class => 'currstatus' %><% end %><div class="bottom-right">&hearts;<%= @mydog.name %>&hearts;</div></div>
<div class="imgoverlay"><%if @dog.image.present? %><%= image_tag @dog.image, :class => 'currstatus' %><% end %><div class="bottom-left">&hearts;<%= @dog.name%>&hearts;</div></div>
</div>

<br>

<p class="pLabel">
<b>HOUSE RULES</b><br><br>

The first woof-up needs an approval. Succeeding woof-ups like Dogwalk dates or Breeding appointment (can be set up once a year only) 
need no approval anymore. Break-up is an option after the first woof-up, in case it doesn't work out. No approval needed for breakups. 
Once you broke up with a dog, the dog won't show up in your matches anymore.

<br><br>
If the dog has an ongoing activity, you cannot delete the dog from the system. That's all. Good luck to you, 
and <%=@mydog.name %> &hearts; <%= @dog.name %>!

<br><br>
<form action="/woofs/<%= @request_id %>/<%= @dog.id %>/create">
Send Message:<br>
<textarea rows = "5" cols = "78" name="message_text" id="message_text" 
placeholder="Hi<%=@owner_name%>, I am hoping our dogs could have an initial meeting."></textarea>

  <br><br>
  <button>Request Woof-up</button>
</form> 
</p>

<br><br>

<%= link_to 'Back to My Dogs', dogs_path %>