
<h1>Welcome to Fluffily Ever After:<br><i>A Dating App for Dogs</i></h1>
<% if @current_user.present? %>
<h2> Good to have you<% if ( session[:newuser] == false ) %> back<% end %>, <%= @current_user.email %></h2>
    <% if @current_user.admin? %>
    <br><%= link_to 'View All Dogs', dogs_path %>
    <% end %>
    <% if @current_user.dogs.present? %>
        <br><%= link_to 'View All My Dogs', dogs_path %>
        <br><%= link_to 'Register New Dog', new_dog_path %>
    <% else %>
        <p>Please register your dog to continue using the site.</p>
        <br><%= link_to 'Register My Dog', new_dog_path %>
    <% end %>
    <br><%= link_to 'Update My Profile', edit_user_path(@current_user.id) %>
<% else %>
<h2>Please sign up or sign in to use the site.</h2>
<% end %>

