<!DOCTYPE html>
<html>
  <head>
    <title>Fluffily Ever After</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="containermain">
    
    <nav>
    <%= link_to 'Home', root_path %>
    <% if @current_user.present? %>
      <% if @current_user.admin? %>
        <%= link_to "All users", users_path %>
      <% end %>
      <a href="/login/signout" onclick="localStoreReset();">Sign Out <%= @current_user.email %></a>

    <% else %>
      <%= link_to 'Sign Up', new_user_path %>
      <%= link_to 'Sign In', login_path %>
    <% end %>

    <a href="https://mmborres.github.io/contact.html" target="_blank">Contact</a>
    </nav>
    
  
    <%= yield %>



<script type="text/javascript">

const localStoreReset = function () {
	if (typeof (Storage) !== "undefined") {
		localStorage.setItem('showednotication', false);
	}
};

</script>

  </div>



  </body>
</html>
